body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e1e1f7;
}

.title,
.search-container {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.main-content {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  text-align: center;
  margin-top: 25px;
}

.serial-element {
  width: fit-content;
}

.serial-title {
  text-align: center;
  font-size: small;
}

.search-results-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.favorites-list-container {
  background-color: rgb(161 157 212);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.favorites-list-container .serial-img {
  width: 20%;
  max-height: 80px;
}

.favorites-list-container .js-serial-element {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
}

.favorites-list-container .js-serial-element .serial-title {
  padding: 30px;
}

.search-results-container {
  padding: 0 20px;
}

.search-results-container .js-serial-element {
  margin-bottom: 10px;
  padding: 10px;
}

.fav {
  background-color: rgb(161 157 212);
}

.non-fav {
  background-color: #e1e1f7;
}

.hidden {
  display: none;
}

.remove-btn {
  height: 20px;
  background-color: rgb(181, 220, 252);
  color: cornflowerblue;
  cursor: pointer;
  border-width: inherit;
  position: absolute;
  border-radius: 2px;
}

.remove-btn:hover {
  background-color: darkslateblue;
}

.btn-remove-all {
  width: 120px;
  font-size: 18px;
  margin-top: 5%;
  background-color: #79188a;
  color: #f7ebeb;
  font-weight: bold;
  cursor: pointer;
  border-width: inherit;
  border-radius: 2px;
}

.btn-remove-all:hover {
  background-color: darkturquoise;
}

.btn {
  cursor: pointer;
  border-width: inherit;
  border-radius: 2px;
  background-color: #79188a;
  color: #f7ebeb;
  font-weight: bold;
  height: 25px;
}
@media all and (min-width: 768px) {
  .search-results-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .main-content {
    grid-template-columns: 20% 80%;
  }
}
